<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- Requires: coverlet.collector package in test project -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- SonarQube for .NET consumes OpenCover -->
          <Format>opencover</Format>

          <!-- Keep noise down -->
          <Exclude>[xunit.*]*</Exclude>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>

